# Virtual Environment
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Django database & media
*.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE & OS
.DS_Store
Thumbs.db
.idea/
